header{
    display: flex;
    width: 100vw;
    height: 8vh;
    align-items: center;
    font-size: 2vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f0f0f0;
    padding-left: 20vw;
    padding-right: 20vw;
    ul{
        list-style-type: none;
        align-items: center;
        li{
            float: left;
            padding: 10px 10px;
            text-align: center;
        }
    }

    a{
        text-decoration: none;
        color: black;
        font-size: 3rem;
        font-weight: bold;
    }

    img{
        height: 40px;
        width: 40px;
        transition: transform 0.2s;
    }

    img:hover{
        transform: scale(1.2);
    }

    @media (max-width: 800px) {
        padding-left: 0;
        padding-right: 0;
        justify-content: center;
        ul{
            padding: 0;
        }
    }

}


body{
    margin-top: 10vh;
    margin-left: 20vw;
    margin-right: 20vw;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;

    @media (max-width: 800px) {

        margin-left: 5vw;
        margin-right: 5vw;
    }


}

button{
    background-color: #2288ff;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.2s, transform 0.2s;
}
button:hover {
    background-color: #1766cc;
    transform: scale(1.05);
}

.tech{
    display: flex;
    border-radius: 10px;
    padding: 4px;
    width: fit-content;
    line-height: 0;
    ul{
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 0;
        margin-bottom: 0;
        margin-top: 0;
        li{
            float: left;
            padding: 20px 20px;
            color: white;
            text-align: center;
            background-color: #6666ff;
            border-radius: 20px;
        }
    }
}

.tech .soft{
    li{
        background-color: #ff6666;
    }
}


.project{
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px; 
    padding-top: 2.5px;
    margin-bottom: 20px;
    h2{
     margin-bottom: 5px;
     margin-left: 5px;
     line-height: 1;
    }
}



.profile{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5vw;    
    font-size: 2rem;

    div{
        display: flex;
        line-height: 1;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 1rem;
        row-gap: 0vh;
    }
    p{
        font-size: 1rem;
        text-align: center;
        margin-top: 1vh;
    }

    h1{
        margin-bottom: 0;
    }
    
    .desc{
        text-align: left;
        font-size: 1.5rem;
        word-break: normal;
        line-height: 1.2;
    }
    img{
        height: 300px;
        border-radius: 50%;
        margin-bottom: 0;
    }

    @media (max-width: 800px) {
        flex-direction: column;
        text-align: center;

        h1{
            margin-top: 0;
        }

        div{
            text-align: center;
        }
        .desc{
            text-align: left;
        }
    }
}